#landing{
    width: 100%;
    height: calc(100vh - 70px);
}
#landing .max{
    height: 100%;
    display: flex;
    align-items: center;
}
#landing .descrip{
    width: 50%;
}
#landing .descrip h1{
    font-size: var(--fs-h1);
    line-height: 50px;
}
#landing .descrip p{
    font-size: var(--fs-p);
}
#landing .rc{
    width: 50%;
    text-align: right;
}
#landing .rc img{
    width: 80%;
}
