@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400&display=swap');
/*font-family: 'Poppins', sans-serif;*/
:root{
    --color-background: #fff;
    --color-primary: #000;
    --color-hover: #363636;
    --fs-h1: 4rem;
    --fs-ta: 1.5rem;
    --fs-p: 1rem;
}
::selection{
    color: #ffffff;
    background-color: #000000;
}
::-moz-selection{
    color: #ffffff;
    background-color: #000000;
}
::-webkit-selection{
    color: #ffffff;
    background-color: #000000;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    color: var(--color-text-primary);
    text-decoration: none;
}
body{
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: var(--color-text-primary);
    overflow: hidden;
}
main{
    padding-top: 70px;
    height: 100%;
}

/*bot*/
.max{
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
}