@media(max-width:650px){
    #landing .max{
        flex-direction: column-reverse;
        justify-content: center;
    }
    #landing .descrip{
        width: 90%;
        text-align: center;
    }
    #landing .rc{
        text-align: center;
        width: 90%;
        margin-bottom: 30px;
    }
}
@media(max-width:300px){
    #landing .descrip h1{
        font-size: min(3rem, 20vw);
    }
    #landing .descrip p{
        font-size: min(1rem, 7vw);

    }

}